<div class="center">
    <h1>Entrar</h1>
    <form (ngSubmit)="onSubmit()" #form="ngForm" [formGroup]="loginForm">
      <div class="txt_field">
        <input type="text" name="email" id="email" formControlName="email" [(ngModel)]="login.email" required>
        <label>Email</label>
        <span class="text-danger" *ngIf="loginForm.controls['email'].touched && loginForm.hasError('required','email')">*Email é requerido</span>
      </div>
      <div class="txt_field">
        <input type="password" name="password" id="password" formControlName="password" [(ngModel)]="login.password" required>
        <label>Senha</label>
        <span class="text-danger" *ngIf="loginForm.controls['password'].touched && loginForm.hasError('required','password')">*Senha é requerida</span>
      </div>
      <br>
      <div class="pass">Esqueceu a senha?</div>
      <button type="submit" class="btn-confirm" [disabled]="loginForm.invalid">Entrar</button>
      <div class="signup_link">
        Não possui conta? <a [routerLink]="['/create-account']">Criar conta</a>
      </div>
    </form>
  </div>