<div class="center">
    <h1>Entrar</h1>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="txt_field">
        <input type="text" name="email" id="email" [(ngModel)]="login.email" required>
        <span></span>
        <label>Email</label>
      </div>
      <div class="txt_field">
        <input type="password" name="password" id="password" [(ngModel)]="login.password" required>
        <span></span>
        <label>Senha</label>
      </div>
      <div class="pass">Esqueceu a senha?</div>
      <button type="submit" class="btn-confirm" [disabled]="form.form.invalid">Entrar</button>
      <div class="signup_link">
        Não possui conta? <a [routerLink]="['/create-account']">Criar conta</a>
      </div>
    </form>
  </div>