<div class="center">
    <h1>Criar Conta</h1>
    <form method="post">
      <div class="txt_field">
        <input type="text" required>
        <span></span>
        <label>Email</label>
      </div>
      <div class="txt_field">
        <input type="password" required>
        <span></span>
        <label>Senha</label>
      </div>
       <div class="txt_field">
        <input type="text" required>
        <span></span>
        <label>Palavra-chave</label>
      </div>
      <input type="submit" value="Entrar">
      <div class="signup_link">
        Não possui conta? <a href="#">Criar conta</a>
      </div>
    </form>
  </div>