.container {
    display:flex;
    max-width: 750px;
    margin: 40px auto 0 auto;
    width: 95%;
   
}

.search-box {
    display:block;
    padding: 10px 20px;
    margin: 40px auto 0 auto;
    max-width: 500px;
    width: 95%;
}

.btn-do {
    width: 120px;
    background: blueviolet;
    color:white;
    height: 40px;
    margin: 40px auto 0 auto;
}

.alert {
    background: tomato;
    display: flex;
    margin: 40px auto 0 auto;
    width: 95%;
    max-width: 650px;
    border-radius:5px;
    height: 40px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color:white;

}



