.search-box {
    display:block;
    margin: 40px auto 0 auto;
    padding: 10px 20px;
    max-width: 600px;
    width: 95%;
}

.search-results {
    max-width: 600px;
    width: 65%;
    margin:20px auto 0 auto;


}

.search-results hr {
    border: none;
    height: 1px;
    background-color: lightblue;
}

.search-results p {
    margin: 10px 0 ;
}