.titulo {
    display:flex;
    max-width: 550px;
    margin: 40px auto 0 auto;
    width: 95%;
    font-size: 30px;
}


.container {
    display:flex;
    max-width: 750px;
    margin: 40px auto 0 auto;
    width: 95%;
   
}

.search-box {
    display:block;
    padding: 10px 20px;
    margin: 40px auto 0 auto;
    max-width: 500px;
    width: 95%;
}

.btn-do {
    width: 120px;
    background: blueviolet;
    color:white;
    height: 40px;
    margin: 40px auto 0 auto;
}

.alert {
    background:salmon;
    display: flex;
    margin: 40px auto 0 auto;
    width: 95%;
    max-width: 650px;
    border-radius:5px;
    height: 40px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color:white;
}

.btn-x {
    margin-left: 60px;
    width: 60px;
    color:white;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    border:1px solid white;
    
}

.logout {
   font-size: 12px;
   margin: 10px 20px auto;
   width: 50px;
   height: 20px;
   background: salmon;
   color:white;
   text-align: center;
   cursor: pointer;
   border:1px solid black;
   

}

@media only screen and (max-width: 700px) {

    .btn-x {
        font-size: 12px;
        margin: 10px 10px auto;
    }

    .alert {
        font-size: 12px;
    }
    
  }
  