<div class="container">
    <span>
      Mostrando {{count > 0 ? startIndex + 1 : 0 }} a {{count > 0 ? endIndex + 1 : 0 }} de
      {{ count > 0 ? count : 0 }} resultados
    </span>
</div>
<nav class="nav-container"> 
  <ul>
    <li [ngClass]="{ disabled: currentPageNumber === 1}" class="page-item">
      <button href="javascript:;" class="page-link" (click)="prev()">Previous</button>
    </li>
        <li
          [ngClass]="{ disabled: currentPageNumber + 1 > totalPages }"
          class="page-item"
        >
          <button class="page-link" href="javascript:;" (click)="next()">Next</button>
        </li>
  </ul>
</nav>
